<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.minhr.design.module_mall.ui.ACT_Search"
            android:exported="false" />
        <activity
            android:name=".ui.ACT_GoodsFilter"
            android:exported="false" />
        <activity
            android:name=".ui.ACT_GoodsDetail"
            android:exported="false" />
    </application>

</manifest>
