<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="com.minhr.design.common_base.BaseAppliction"
        android:label="@string/app_name"
        android:theme="@style/BaseAppTheme">
        <activity
            android:name="com.minhr.design.module_discover.ui.ACT_Category"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ACT_CategoryDetail"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false" />
        <activity
            android:name=".ui.video.ACT_PlayVideo"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>
